.content {
    margin: auto;
    width: 400px;
    height: 400px;
    text-align: center;
    h4 {
        font-size: 30px;
        margin: 50px auto;
    }
    .inline-element {
        margin: 10px auto;
    }
    .login-logo {
        width: 100px;
        margin: 20px auto;
    }
}