<nav
  class="fixed z-50 hidden w-[-webkit-fill-available] border-b border-lines-light bg-white dark:border-lines-dark dark:bg-grey-dark sm:flex sm:h-[8rem] lg:h-[9.7rem]"
>
  <header class="flex flex-1 items-start sm:px-2.4 lg:px-3.2">
    <div class="flex gap-2.4 sm:pt-1.6 lg:pt-8">
      <button
        [disabled]="!stages?.length"
        (click)="addTask()"
        class="dialog-submit btn-lg px-8"
      >
        + Add New Candidate
      </button>
      <div class="user-loged" *ngIf="user">
        <img  src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="user-avatar" />
        {{ user.data.fullName }}
      </div>
    </div>
  </header>
</nav>

