.user-loged {
    position: absolute;
    right: 40px;
    font-size: 13px;
    color: #333;

    img {
        width: 16px;
        margin-right: 8px;
        float: left;
    }
}

.dialog-submit {
  min-width: 170px;
  background-color: #0096c7;
  margin: 0 auto;
  padding: 15px 20px;
  color: white;
}
