<nav
  class="fixed z-50 hidden w-[-webkit-fill-available] border-b border-lines-light bg-white dark:border-lines-dark dark:bg-grey-dark sm:flex sm:h-[8rem] lg:h-[9.7rem]"
>
  <figure
    class="flex w-[21rem] items-center border-r border-lines-light px-2.4 dark:border-lines-dark"
    [ngClass]="{ hidden: opened }"
  >
    <img
      src="assets/images/logo-dark.svg"
      alt="logo"
      class="h-10 w-60 dark:hidden"
    />
    <img
      src="assets/images/logo-light.svg"
      alt="logo"
      class="hidden h-10 w-60 dark:block"
    />
  </figure>
  <header class="flex flex-1 items-start sm:px-2.4 lg:px-3.2">
    <!-- <h1
      class="mr-auto flex-1 font-bold text-black dark:text-white sm:pt-[2.8rem] sm:text-lx sm:leading-lx lg:pt-[2.9rem] lg:text-xl lg:leading-xl"
    >
      {{ data?.name }}
    </h1> -->
    <div class="flex gap-2.4 sm:pt-1.6 lg:pt-8">
      <button
        [disabled]="!stages?.length"
        (click)="addTask()"
        class="btn-primary btn-lg px-8"
      >
        + Add New Candidate
      </button>
      <div class="user-loged" *ngIf="user">
        <img  src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="user-avatar" />
        {{ user.data.fullName }}
      </div>
    </div>
  </header>
</nav>

