<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  class="modal bg-white"
>
  <h4
    class="text-lg font-bold leading-lg text-black"
  >
    {{ data.editMode ? "Edit Candidate" : "Add New Candidate" }}
  </h4>
    <div class="flex flex-col">
      <!-- <h5
        class="mb-0.8 text-sm font-bold leading-sm text-grey-medium"
      >
        Name
      </h5> -->
      <div class="relative tui-form__row">
        <tui-input
          tuiAutofillFieldName="firstName"
          class="inline-element tui-space_top-4"
          tuiTextfieldSize="m"
          name="firstName"
          placeholder="First Name"
          required
        >First Name</tui-input>

        <span
          *ngIf="
            form.get('name')?.dirty &&
            form.get('name')?.touched &&
            form.get('name')?.invalid &&
            form.get('name')?.errors?.['required']
          "
          class="main-error"
          >Can’t be empty</span
        >
      </div>

    </div>
    <div class="flex flex-col">
      <h5
        class="mb-0.8 text-sm font-bold leading-sm text-grey-medium"
      >
        Email
      </h5>
      <div class="relative tui-form__row">
        <input
        id="email"
        formControlName="email"
        type="text"
        [ngClass]="{
          'main-control-error':
            form.get('email')?.dirty &&
            form.get('email')?.touched &&
            form.get('email')?.invalid &&
            form.get('email')?.errors?.['required']
        }"
        class="main-control h-16 text-black"
      />
        <span
          *ngIf="
            form.get('email')?.dirty &&
            form.get('email')?.touched &&
            form.get('email')?.invalid &&
            form.get('email')?.errors?.['required']
          "
          class="main-error"
          >Can’t be empty</span
        >
      </div>
    </div>
    <div class="flex flex-col">
      <h5
        class="mb-0.8 text-sm font-bold leading-sm text-grey-medium"
      >
        Phone
      </h5>
      <div class="relative tui-form__row">
        <input
        id="phoneNumber"
        formControlName="phoneNumber"
        type="text"
        [ngClass]="{
          'main-control-error':
            form.get('phoneNumber')?.dirty &&
            form.get('phoneNumber')?.touched &&
            form.get('phoneNumber')?.invalid &&
            form.get('phoneNumber')?.errors?.['required']
        }"
        class="main-control h-16 text-black"
      />
        <span
          *ngIf="
            form.get('phoneNumber')?.dirty &&
            form.get('phoneNumber')?.touched &&
            form.get('phoneNumber')?.invalid &&
            form.get('phoneNumber')?.errors?.['required']
          "
          class="main-error"
          >Can’t be empty</span
        >
      </div>
    </div>
    <div class="flex flex-col">
      <h5
        class="mb-0.8 text-sm font-bold leading-sm text-grey-medium"
      >
        Gender
      </h5>
      <div class="relative ">
        <mat-radio-group aria-label="Select an option" checked="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>

      </div>
    </div>
    <div>
      <h5
        class="text-grey-medium mb-1.6 text-sm font-bold leading-sm"
      >
        Current Status
      </h5>
      <select
        class="bg-white bg-gray-50 border-gray-300 text-gray-900 block w-full rounded-lg border px-2 py-4 text-sm"
        formControlName="status"
      >
        <option [value]="column.name" *ngFor="let column of data.columns">
          {{ column.name }}
        </option>
      </select>
    </div>
  <button
    [disabled]="form.invalid"
    class="btn btn-sm btn-primary"
    type="submit"
  >
    {{ data.editMode ? "Save Changes" : "Create Task" }}
  </button>
</form>
