<form [formGroup]="form" (ngSubmit)="submit()">
    <tui-input formControlName="firstName" placeholder="First Name"></tui-input>
    <tui-input formControlName="lastName" placeholder="Last Name"></tui-input>
    <tui-input formControlName="email" placeholder="Email"></tui-input>
    <tui-input formControlName="phoneNumber" placeholder="Phone Number"></tui-input>
    <tui-input formControlName="gender" placeholder="Gender"></tui-input>
    <tui-input formControlName="position" placeholder="Position"></tui-input>
    <button tuiButton type="submit">Submit</button>
</form>

